.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.DS_Store
1_data/3_LODES/1_raw_files/*/
1_data/3_LODES/2_crosswalks/*/
*.html
3_output/1_cleaned_data/3_LODES/1_preaggregated_metros/
3_output/1_cleaned_data/3_LODES/
1_data/3_LODES
6_sources/EIS_records
.Rprofile
.Renviron
rjavaenv/*
*.pbf
*.tif
*.osm
*.mapdb
*.mapdb.p
*.sty
*.log
*.json
*.dat
*.git 
.positai
